@mixin satcom-icon {
    top: 1px;
	display: inline-block;
	font-family: "Satcom Icons";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}