.satcom-checkbox {
  padding: 5px;
  font-family: $font-family-sans-serif;
}
.satcom-checkbox input[type=checkbox],
.satcom-checkbox input[type=checkbox] + label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.satcom-checkbox input[type=checkbox] {
  -webkit-appearance: none;
  display: none;
}
.satcom-checkbox input[type=checkbox] + label {
  cursor: hand;
  cursor: pointer;
  position: relative;
  font-weight: normal;
  margin-left: 20px;
  color: $checkbox-color;
}
/* the main checkbox */
.satcom-checkbox input[type=checkbox] + label::before {
  position: relative;
  display: inline-block;
  content: '';
  height: 18px;
  width: 20px;
  margin: 0 10px 0 -30px;
  vertical-align: middle;
  background: -webkit-linear-gradient($checkbox-gradient-label);
  background: -moz-linear-gradient($checkbox-gradient-label);
  background: -ms-linear-gradient($checkbox-gradient-label);
  background: -o-linear-gradient($checkbox-gradient-label);
  background: linear-gradient(to $checkbox-gradient-label);
  border-radius: 2px;
  z-index: 5;
}
.satcom-checkbox input[type=checkbox] + label::after {
  position: absolute;
  top: 0;
  left: -30px;
  display: inline-block;
  content: '';
  height: 20px;
  width: 20px;
  background: -webkit-linear-gradient($checkbox-gradient-label-after);
  background: -moz-linear-gradient($checkbox-gradient-label-after);
  background: -ms-linear-gradient($checkbox-gradient-label-after);
  background: -o-linear-gradient($checkbox-gradient-label-after);
  background: linear-gradient(to $checkbox-gradient-label-after);
  border-radius: 2px;
  z-index: 1;
}
.satcom-checkbox input[type=checkbox]:checked + label::before {
  font-family: $font-family-icon;
  color: #fff;
  padding-left: 0.3rem;
  content: "\e93b";
}

.satcom-checkbox input[type=checkbox]:checked + label {
  font-family: $font-family-bold;
  color: #fff;
}
.satcom-checkbox input[type=checkbox]:checked + label::after {
  background: -webkit-linear-gradient($checkbox-gradient-checked);
  background: -moz-linear-gradient($checkbox-gradient-checked);
  background: -ms-linear-gradient($checkbox-gradient-checked);
  background: -o-linear-gradient($checkbox-gradient-checked);
  background: linear-gradient(to $checkbox-gradient-checked);
  z-index: 1;
}
.satcom-checkbox input[type=checkbox]:disabled + label::before {
  background: $checkbox-background;
  cursor: not-allowed;
}
.satcom-checkbox input[type=checkbox]:disabled + label::after {
  background: -webkit-linear-gradient($checkbox-gradient);
  background: -moz-linear-gradient($checkbox-gradient);
  background: -ms-linear-gradient($checkbox-gradient);
  background: -o-linear-gradient($checkbox-gradient);
  background: linear-gradient(to $checkbox-gradient);
  border-radius: 2px;
  cursor: not-allowed;
}
.satcom-checkbox input[type=checkbox]:disabled:checked + label::before {
  content: '';
  background: #375a78 url(../img/native-substitue-checkmark.svg) 100% 100% no-repeat;
  background-size: 66% 66%;
  background-repeat: no-repeat;
  background-position: 45% 45%;
}