.dropdown {
    @extend .btn;
    height: auto;
    -webkit-appearance: menulist;
    margin: 0;
    min-width: 0px;
}

.dropdown option {
    color: $active-font-color;
}

// The dropdown wrapper (`<div>`)
.dropup,
.dropdown {
  position: relative;
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .dropup after the standard .dropdown class and you're set.

.dropup {
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: $dropdown-margin-top;
  }
}
