.global-status-bar {
    background-color: $statusbar-color;
    width: 100%;
    height: $statusbar-height;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 $statusbar-padding-x;

    @include media-breakpoint-down(nth(map-keys($grid-breakpoints), 1)) {
    > .container {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.statusbar-mission {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: $statusbar-mission-padding-x;
  font-size: $font-size-lg;
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}


/**
 * Navbar nav
 *
 * Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).
 */

.statusbar-nav {
  display: flex;
  flex-direction: row; /* cannot use `inherit` to get the `.navbar`s value */
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  height: 100%;

  .statusbar-link {
    padding-right: 0;
    padding-left: 0;
  }

  .nav-link.active {
    border-bottom: 0;
    border-left: 0;
    margin-top: 0;
    border-right: 0;
    border-top: 5px;
    border-style: solid;
    border-color: #0271ca;
    color: $white;
  }
}

.statusbar-right {
    float: right;
    flex-grow: 2;
    justify-content: flex-end;
}


/**
 * Navbar text
 *
 */

.statusbar-text {
  display: inline-block;
  padding-top:    .425rem;
  padding-bottom: .425rem;
}
