.toolbar {
    position: relative;
    background-color: $toolbar-bg-color;
    line-height: 60px;
    height: 60px;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.2rem;
    z-index: 70;
}

.toolbar-secondary {
    @extend .toolbar;
    background-color: $toolbar-secondary-bg;
}