@font-face {
  font-family: "Satcom Icons";
  src: url(../../fonts/satcom-icons.woff);
  src: url(../../fonts/satcom-icons.ttf);
}

.satcom-icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: "Satcom Icons";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.satcom-icon-status-alert:before {
	content: "\e900";
}

.satcom-icon-status-error:before {
	content: "\e901";
}

.satcom-icon-status-caution:before {
	content: "\e902";
}

.satcom-icon-status-ok:before {
	content: "\e903";
}

.satcom-icon-status-standby:before {
	content: "\e904";
}

.satcom-icon-status-off:before {
	content: "\e905";
}

.satcom-icon-collapse:before {
  content: "\e906";
}

.satcom-icon-expand:before {
  content: "\e907";
}

.satcom-icon-handle-v:before {
  content: "\e908";
}

.satcom-icon-handle-h:before {
  content: "\e909";
}

.satcom-icon-lock:before {
  content: "\e90a";
}

.satcom-icon-unlock:before {
  content: "\e90b";
}

.satcom-icon-gear:before {
  content: "\e90c";
}

.satcom-icon-maintenance:before {
  content: "\e90d";
}

.satcom-icon-notification:before {
  content: "\e90e";
}

.satcom-icon-search:before {
  content: "\e90f";
}

.satcom-icon-minus:before {
  content: "\e910";
}

.satcom-icon-minus-circle:before {
  content: "\e911";
}

.satcom-icon-plus:before {
  content: "\e912";
}

.satcom-icon-plus-circle:before {
  content: "\e913";
}

.satcom-icon-cancel:before {
  content: "\e914";
}

.satcom-icon-cancel-circle:before {
  content: "\e915";
}

.satcom-icon-power-off:before {
  content: "\e916";
}

.satcom-icon-release:before {
  content: "\e917";
}

.satcom-icon-hardware-details:before {
  content: "\e918";
}

.satcom-icon-set-power:before {
  content: "\e919";
}

.satcom-icon-groundstation-live:before {
  content: "\e91a";
}

.satcom-icon-master-off:before {
  content: "\e920";
}

.satcom-icon-reference-emitter:before {
  content: "\e921";
}

.satcom-icon-log-archive:before {
  content: "\e922";
}

.satcom-icon-resistor:before {
  content: "\e923";
}

.satcom-icon-groundstation-notlive:before {
  content: "\e925";
}

.satcom-icon-layout-bottom:before {
  content: "\e926";
}

.satcom-icon-groundstation-off:before {
  content: "\e92c";
}

.satcom-icon-satellite-live:before {
  content: "\e927";
}

.satcom-icon-satellite-notlive:before {
  content: "\e92d";
}

.satcom-icon-satellite-off:before {
  content: "\e933";
}

.satcom-icon-equipment:before {
  content: "\e934";
}

.satcom-icon-processor:before {
  content: "\e935";
}

.satcom-icon-mission:before {
  content: "\e936";
}

.satcom-icon-map-area:before {
  content: "\e91d";
}

.satcom-icon-stopwatch:before {
  content: "\e91f";
}

.satcom-icon-settings:before {
  content: "\e91e";
}

.satcom-icon-file:before {
  content: "\e91c";
}

.satcom-icon-barchart:before {
  content: "\e91b";
}

.icon-circle:before {
   content: "\e938";
 }

.icon-square:before {
  content: "\e937";
}

.icon-camera:before {
   content: "\e939";
 }

.icon-camera-off:before {
  content: "\e93a";
}